@model WebApplication1.Models.RegisterViewModel



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="nav navbar-nav navbar-right">
        Introduzir Dados Do Aluno
    </div>
}
