<div class="form-group">
    @Html.Label("AdicinarDocentes", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBox("DisciplinasPorFazer", null, new { @class = "form-control" })
    </div>
</div>

